[submodule "argus-core"]
	path = argus-core
	url = git@github.com:Guilheeeeeeerme/argus-core.git
	branch = main
[submodule "argus-services"]
	path = argus-services
	url = git@github.com:Guilheeeeeeerme/argus-services.git
	branch = main
[submodule "argus-libs"]
	path = argus-libs
	url = git@github.com:Guilheeeeeeerme/argus-libs.git
	branch = main
